// Font Weight
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;

// Paths
$font-path: 'assets/fonts';
$image-path: 'assets/img';

// Colors
$color-gray-dark: #818385;
$color-gray: #e6e7e8;
$color-red: #a60309;

// Gradient
$gray-gradient: linear-gradient(0deg, #e6e7e8 0%, #d7d8d9 100%);
$red-gradient: linear-gradient(180deg, #590205 0%, #730206 8.89%);

// Icomoon
$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: 'assets/fonts' !default;
$icon-attachment: '\e900';
$icon-award: '\e901';
$icon-book-open: '\e902';
$icon-book: '\e903';
$icon-calendar: '\e904';
$icon-chart: '\e905';
$icon-chevron-down: '\e906';
$icon-chevron-left: '\e907';
$icon-chevron-right: '\e908';
$icon-chevron-up: '\e909';
$icon-coffee: '\e90a';
$icon-compass: '\e90b';
$icon-consultancy: '\e90c';
$icon-culture: '\e90d';
$icon-departures: '\e90e';
$icon-education: '\e90f';
$icon-energy: '\e910';
$icon-entertainment: '\e911';
$icon-facebook: '\e912';
$icon-filter: '\e913';
$icon-geolocation: '\e914';
$icon-geology: '\e915';
$icon-health: '\e916';
$icon-historic: '\e917';
$icon-housing: '\e918';
$icon-instagram: '\e919';
$icon-link-solid: '\e91a';
$icon-linkedin: '\e91b';
$icon-magnet: '\e91c';
$icon-mail: '\e91d';
$icon-map: '\e91e';
$icon-mission: '\e91f';
$icon-money: '\e920';
$icon-news: '\e921';
$icon-next: '\e922';
$icon-partners: '\e923';
$icon-pdf-alt: '\e924';
$icon-pdf: '\e925';
$icon-person: '\e926';
$icon-phone: '\e927';
$icon-pin: '\e928';
$icon-play-circle: '\e929';
$icon-question: '\e92a';
$icon-search: '\e92b';
$icon-settings: '\e92c';
$icon-social: '\e92d';
$icon-sort-down: '\e92e';
$icon-sort-up: '\e92f';
$icon-sort: '\e930';
$icon-sports: '\e931';
$icon-star: '\e932';
$icon-store: '\e933';
$icon-sustainability: '\e934';
$icon-tech: '\e935';
$icon-transport: '\e936';
$icon-twitter: '\e937';
$icon-view-horizontal: '\e938';
$icon-view-vertical: '\e939';
$icon-vision: '\e93a';
$icon-whatsapp: '\e93b';
$icon-worth: '\e93c';
$icon-zoom-in: '\e93d';
$icon-zoom-out: '\e93e';
